@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 10px #4f2379, 0 0 20px #4f2379,
      0 0 30px rgba(79, 35, 121, 0.6);
  }
  50% {
    box-shadow: 0 0 20px #4f2379, 0 0 40px #4f2379,
      0 0 60px rgba(79, 35, 121, 0.8);
  }
  100% {
    box-shadow: 0 0 10px #4f2379, 0 0 20px #4f2379,
      0 0 30px rgba(79, 35, 121, 0.6);
  }
}

.animate-glow {
  animation: glowPulse 3s infinite ease-in-out;
}
